<html>
<head>

 <!-- Bootstrap and JQuery CSS -->

<link rel='stylesheet' type='text/css' href='static/test.css'>
<link href="static/bootstrap-3.2.0/css/bootstrap.css" rel="stylesheet">

</head>
<body>

 <!-- Bootstrap and JQuery JS -->

<script src="static/jquery-2.1.1/jquery.js"></script>
<script src="static/bootstrap-3.2.0/js/bootstrap.js"></script>

<div class="container">
  <div class="row">
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-6">A</div>
			</div>
			<div class="row">
				<div class="col-xs-6">B</div>
			</div>
		</div>
	<div class="col-xs-2">C</div>
  </div>
</div>

</body>
</html>
